.git/
.gitignore
.env
.env.example
.github/
.husky/
.vscode/
.prettierrc.json
.prettierignore
.eslintrc.cjs
.eslintcache

node_modules/
worker/
dist/
test/
log/
bin/
blocklists__/
dbip__/

*.md
LICENSE
run
wrangler.toml
package-lock.json
